.orange {
background-color: orange;
height: 180px;
width: 900px;
}
.green {
    background-color:green;
    height: 180px;
    width: 900px;
    }
.red {
    background-color: red;
    height: 180px;
    width: 900px;
    }
